version: 0.1.0
description: proxy scraper .
authors:
  - "woxmking"
  - "wox"
license: MIT
repos:
  - "https://github.com/woxmking/Wox-Proxy-Scraper.git" 

keywords:
  - github
  - projeto
  - proxy scraper
  - desenvolvimento
